<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/control.css" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>
    <header>
        <div>
            <div class="j-logo">Moop</div>
            <ul class="j-link">
                <li class="active">控制台</li>
                <!--<li>财务</li>-->
            </ul>
            <!--<div class="j-mobile">手机版
                <div class="j-mobile-info"><div></div></div>
            </div>-->
            <ul class="j-inner">

            </ul>

        </div>
    </header>
    <div class="j-main">
        <div class="j-products">
            <div class="j-main-list">
                <ul class="j-first-list">

                </ul>
            </div>
            <div class="j-main-content">
            </div>
        </div>
    </div>
    <footer></footer>
</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/index/control.js"></script>
</html>