<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/course-child.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/header.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="j-header-user">
        <div>
            <ul class="j-inner">
                <li class="j-click-logout"><p></p><i class="j-icon">&#xe8ac</i></li>
                <li><p>moop</p><i class="j-icon j-user-drop">&#xe5c5</i><div><span>个人中心</span><span>345</span></div>
                </li>
                <li>
                    <p>moop</p>
                    <i class="j-icon j-user-drop">&#xe5c5</i>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="j-header-con">
        <div class="j-header-func">
            <div class="j-logo">moopa</div>
            <ul class="j-link">
                <li class="active">
                    <p>首页</p>
                </li>
                <li>
                    <p>首页首页</p>
                </li>
                <li>
                    <p>首页首</p>
                </li>
            </ul>
        </div>
    </div>
</header>
    <div class="j-title">
        <div>
            <p></p>
            <span class="j-start-course"></span>
        </div>
    </div>
    <div class="j-main">
        <div class="j-info">

        </div>
        <!--<div class="j-course-tree">2</div>-->
    </div>
</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/index/header.js"></script>
<script src="/js/index/course-child.js"></script>
</html>