<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/create-course.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/header.css" rel="stylesheet" type="text/css"/>
    <!--<link href="/css/lib/bootstrap.css" rel="stylesheet" type="text/css"/>-->
    <link href="/css/lib/wangEditor.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="j-header-user">
        <div>
            <ul class="j-inner">
                <li class="j-click-logout"><p></p><i class="j-icon">&#xe8ac</i></li>
                <li><p>moop</p><i class="j-icon j-user-drop">&#xe5c5</i><div><span>个人中心</span><span>345</span></div>
                </li>
                <li>
                    <p>moop</p>
                    <i class="j-icon j-user-drop">&#xe5c5</i>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="j-header-con">
        <div class="j-header-func">
            <div class="j-logo">moopa</div>
            <ul class="j-link">

            </ul>
        </div>
    </div>
</header>
<!--<div class="j-title">
    <div>
        <p>创建课程</p>
        <ul>
            <li class="done"></li>
            <span class="done">1<p>创建课程领域</p></span>
            <li class="done left"></li>
            <li class="doing"></li>
            <span class="doing">2<p>创建课程情景、任务</p></span>
            <li class="left doing"></li>
            &lt;!&ndash;<li></li>
                    <span>3<p>创建课程领域</p></span>
                    <li class="left"></li>&ndash;&gt;
                </ul>
            </div>
        </div>-->
<div class="j-course-info">
    <div>
        <h4 class="j-area-name"></h4>
        <span class="j-icon j-back-first">返回课程信息编辑</span>
        <p class="j-area-des"></p>
    </div>
</div>
<div class="j-main">

    <div class="j-left">
        <span class="j-icon j-new-situation">&#xe145创建学习情境</span>
        <div class="j-list"></div>
    </div>
    <div class="j-right">
        <span>*修改后请点击下方的“保存”按钮保存您的修改，否则将不被保存</span>
        <div class="j-form"></div>
        <!--<button>保存</button>-->
    </div>
    <!--<div class="j-course-tree">
        <div class="j-tree-body">
            <div>
                <h4 data-index="0" data-id="1" class="j-icon"><i data-open="0" class="j-icon">&#xe315</i><p>第一章 室内清洁</p><span class="j-icon j-tree-remove">&#xe9d6</span><span class="j-icon j-tree-add">&#xe145</span></h4>
                <div>
                    <h4 data-index="1" data-id="1" class="j-icon"><i data-open="0" class="j-icon">&#xe313</i><p>第一节 地面清洁</p><span class="j-icon j-tree-remove">&#xe9d6</span><span class="j-icon j-tree-add">&#xe145</span></h4>
                    <div>
                        <h4 data-index="2" data-id="1" class="j-icon active"><i data-open="0" class="j-icon">&#xe313</i><p>第一小节 扫地</p><span class="j-icon j-tree-remove">&#xe9d6</span><span class="j-icon j-tree-add">&#xe145</span></h4>
                        <div>
                            <h4 data-index="3" data-id="1" class="j-icon"><p>行动1 在地上打滚</p><span class="j-icon j-tree-remove">&#xe9d6</span></h4>
                        </div>
                        <h4 data-index="2" data-id="1" class="j-icon"><i data-open="0" class="j-icon">&#xe313</i><p>第二小节 拖地</p><span class="j-icon j-tree-remove">&#xe9d6</span><span class="j-icon j-tree-add">&#xe145</span></h4>
                        <div></div>
                    </div>
                </div>
            </div>
            <p class="j-icon j-add-situation">&#xe145添加一个学习情境</p>
        </div>
    </div>
    <div class="j-edit-pan">
        <h4>以下为必填项，每项都需填写完整</h4>
        <div><p>情景名称</p><input type="text"/></div>
        <div><p>情景名称</p><textarea type="text"></textarea></div>
        <h4>以下非必填项，选择其中一项或多项填写</h4>
        <div><ul><li data-name>aaa</li><li class="active">工作方法与组织方式</li></ul>
            <textarea type="text"></textarea></div>
        <span>保存</span>
    </div>-->
</div>
<div class="j-nav-back"></div>
<div class="j-edit-block">
    <div class="j-edit-title">
        <p>编辑窗口</p>
        <span class="j-icon">&#xe5cd</span>
    </div>
    <div class="j-edit-pan"></div>
</div>
</body>
<script src="/js/lib/jquery.js"></script>
<!--<script src="/js/lib/bootstrap.js"></script>-->
<script src="/js/lib/wangEditor.min.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/index/header.js"></script>
<!--<script src="/js/lib/socket.js"></script>-->
<script src="/js/index/create-course.js"></script>
<!--<script type="text/javascript" src="http://192.168.1.105/web-apps/apps/api/documents/api.js"></script>-->
</html>