<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/form-study.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="a">
        <div class="j-con"></div>
        <span class="j-submit">提交</span>
    </div>
</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/index/form-study.js"></script>
</html>