<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/index.css" rel="stylesheet" type="text/css"/>
    <title>主页</title>
</head>
<body>
    <header>
        <div>
            <div class="j-logo"></div>
            <ul class="j-link">
                <!--<li class="active">首页</li>
                <li>账户</li>
                <li>财务</li>-->
            </ul>
            <!--<div class="j-mobile">手机版
                <div class="j-mobile-info"><div></div></div>
            </div>-->
            <ul class="j-inner">
                <!--<li class="j-click-logout"></li>
                <li class="j-click-server">
                    <div class="j-server-info"></div>
                </li>
                <li class="j-click-message">
                    <div class="j-message-info"></div>
                </li>
                <li class="j-click-products">
                    <div class="j-products-info"></div>
                </li>
                <li class="j-sign-up-button">注册</li>
                <li class="j-sign-in-button">登录</li>-->
            </ul>
            <!--<div class="j-username">maxuan<div class="j-products-info"></div></div>-->
        </div>
    </header>
    <div class="j-main">
        <div class="j-up-block">
            <div>
                <div class="j-user-info">
                    <h4>maxuan</h4>
                    <span><p>合规信用值：- </p><p>优惠积分</p></span>
                    <div class="j-user-info-more">
                        <div>推广余额 0</div>
                    </div>
                </div>
                <div class="j-tools-contain">
                    <span class="j-user-info-budget">看电视剧肯定</span>
                    <span class="j-user-info-recharge">看电视剧</span>
                    <span class="j-user-info-budget">电视剧</span>
                    <span class="j-user-info-recharge">电视</span>
                    <span class="j-user-info-budget"></span>
                    <span class="j-user-info-recharge"></span>
                    <span class="j-user-info-budget"></span>
                    <span class="j-user-info-recharge"></span>
                    <span class="j-user-info-budget"></span>
                    <span class="j-user-info-recharge"></span>
                </div>
                <div class="j-recommend">
                    <div class="j-carousel j-recommend-1"></div>
                    <!--<div class="j-recommend-2">
                        <div class="j-recommend-2-1">全部商业产品</div>
                        <div class="j-recommend-2-2"></div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="j-nav-back"></div>
    <div class="j-sign-box">
        <div class="j-sign-header">
            <div class="j-sign-in active">登录</div>
            <div class="j-sign-up">注册</div>
            <span class="j-icon j-sign-close">&#xe117</span>
        </div>
        <div class="j-sign-body j-sign-in-body">
            <div>
                <span class="j-icon">&#xe7fd</span>
                <input type="text" placeholder="请输入您的用户名"/>
                <i class="j-icon">&#xe117</i>
            </div>
            <div>
                <span class="j-icon">&#xe897</span>
                <input isEnd=1 type="password" placeholder="请输入您的密码"/>
                <i class="j-icon">&#xe117</i>
            </div>
            <span>用户名或密码错误</span>
            <button>登录</button>
        </div>
        <div class="j-sign-body j-sign-up-body">
            <div>
                <span class="j-icon">&#xe06b</span>
                <input type="text" placeholder="请输入您的用户名"/>
                <i class="j-icon">&#xe117</i>
            </div>
            <div>
                <span class="j-icon">&#xe04c</span>
                <input type="text" placeholder="请输入您的邮箱"/>
                <i class="j-icon">&#xe117</i>
            </div>
            <div>
                <span class="j-icon">&#xe03d</span>
                <input type="password" placeholder="请输入您的密码"/>
                <i class="j-icon">&#xe117</i>
            </div>
            <div>
                <span class="j-icon">&#xe03d</span>
                <input isEnd=1 type="password" placeholder="请再次输入您的密码"/>
                <i class="j-icon">&#xe117</i>
            </div>
            <span>用户名或密码错误</span>
            <button>注册</button>
        </div>
    </div>
    <footer></footer>
</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/index/index.js"></script>
<script src="/js/index/sign.js"></script>
</html>