<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/login.css" rel="stylesheet" type="text/css"/>
    <title>用户登录</title>
</head>
<body>
<header>
    <div>
        <span class="j-logo">Moop</span>
        <p>欢迎登录</p>
    </div>
</header>
<div class="j-main">
    <img src="/img/sign-back.jpg"/>
    <div>
        <div class="j-login">
            <h4>用户登录</h4>
            <div class="j-username-con active"><i class="j-icon">&#xe7fd</i><input class="username" type="text" placeholder=""/><span class="j-icon close">&#xe5cd</span></div>
            <div class="j-password-con"><i class="j-icon">&#xe897</i><input class="password" type="password" placeholder=""/><span class="j-icon close">&#xe5cd</span></div>
            <button>登录</button>
            <p>没有账户？<span class="to_register">立即注册</span></p>
        </div>
    </div>
</div>
</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/index/login.js"></script>
</html>