<p>组织管理</p>
<div class="j-add-col">
    <div>
        <div>组织名称</div>
        <input type="text" placeholder="请输入组织名称"/>
        <p></p>
        <button>添加</button>
    </div>
</div>
<div class="j-table">
    <input type="text" placeholder="请输入组织名称"/>
    <button id="j-org-search">查询</button>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>组织名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <tr><td>2</td><td><input type="text" value="2"/></td><td><button>删除</button></td></tr>
        <tr><td>2</td><td><input type="text" value="2"/></td><td><button>删除</button></td></tr>
        </tbody>
    </table>
</div>