<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/file/share-manage.css" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>
<header>
    <div class="j-logo">logoo</div>
    <ul class="j-apps">
        <li>控制台</li>
        <li class="active">网盘</li>
        <li>分享</li>
        <li>更多</li>
    </ul>
    <span class="j-icon j-logout">&#xe9e0</span>
    <span class="j-user-info">
        <img src="/img/userinfoBg.png"/>
        <p>moop</p>
    </span>
</header>
<div class="j-list">
    <ul>
        <li data-href="/control/file"><span class="j-icon">&#xe94f</span><p>全部文件</p></li>
        <li data-href="/control/file#picture"><span class="j-icon"></span><p>图片</p></li>
        <li data-href="/control/file#document"><span class="j-icon"></span><p>文档</p></li>
        <li data-href="/control/file#video"><span class="j-icon"></span><p>视频</p></li>
        <li data-href="/control/file#music"><span class="j-icon"></span><p>音乐</p></li>
        <li data-href="/control/file#other"><span class="j-icon"></span><p>其他</p></li>
        <li data-href="/control/myShare" class="active"><span class="j-icon">&#xeaac</span><p>我的分享</p></li>
        <li data-href="/control/junk"><span class="j-icon">&#xe9d7</span><p>回收站</p></li>
    </ul>
</div>
<div class="j-main">
    <div class="j-tool-bar">

        <span class="j-file-btn j-cancel-share">
            <span class="j-icon">&#xe0e3</span>
            <p>取消共享</p>
        </span>
        <span class="j-icon j-file-show-type">&#xe8ef</span>
        <span class="j-icon j-file-order">&#xe8d5</span>
        <div class="j-file-search">
            <input type="text" placeholder="搜索您的文件"/>
            <span class="j-icon">&#xe8b6</span>
        </div>
    </div>
    <div class="j-file-menu">
        <ul>
            <li class="j-return-prev"><span>返回上一级</span></li>
            <li class="j-path-roads"><span>全部文件</span><i class="j-icon">&#xe315</i><p>新建文件夹</p></li>
        </ul>
        <span class="j-totle-number"></span>
    </div>
    <div class="j-file-select-all">
        <ul>
            <li class="j-title-file-name">
                <input type="checkbox"/>
                <p>分享文件</p>
            </li>
            <li class="j-title-file-dept">
                <p>组织机构</p>
            </li>
            <li class="j-title-file-time">
                <p>分享时间</p>
            </li>
            <li class="j-title-file-size">
                <p>文件大小</p>
            </li>
        </ul>
    </div>
    <div class="j-file-content">
        <!--<ul class="j-one-list">
            <li class="j-list-file-name">
                <input type="checkbox"/>
                <img src="./img/file/file-doc.png"/>
                <p>文本文档.txt</p>
            </li>
            <li class="j-list-file-size">
                <p>3B</p>
            </li>
            <li class="j-list-file-date">
                <p>2017-4-19 14:37:15</p>
            </li>
        </ul>
        <ul class="j-one-list">
            <li class="j-list-file-name">
                <input type="checkbox"/>
                <img src="./img/file/file-folder.png"/>
                <p>文件夹</p>
            </li>
            <li class="j-list-file-size">
                <p>-</p>
            </li>
            <li class="j-list-file-date">
                <p>2017-4-19 14:37:15</p>
            </li>
        </ul>-->
    </div>
</div>
<div class="j-right-click">
    <ul>
        <li class="j-right-share">取消分享</li>
    </ul>
</div>
</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/file/share-manage.js"></script>
</html>