<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/study-subject.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="j-header-con">
        <div class="j-header-func">
            <div class="j-logo">moopa</div>
            <ul class="j-link">
                <li class="active">
                    <p>首页</p>
                </li>
                <li>
                    <p>首页首页</p>
                </li>
                <li>
                    <p>首页首</p>
                </li>
            </ul>
        </div>
        <ul class="j-inner">
            <li>
                <p></p>
                <i class="j-icon">&#xe8ac</i>
            </li>
            <li>
                <p>moop</p>
                <i class="j-icon">&#xe5c5</i>
                <div></div>
            </li>
            <li>
                <p>moop</p>
                <i class="j-icon">&#xe5c5</i>
                <div></div>
            </li>
        </ul>
    </div>
</header>
<div class="j-side-bar">
    <div class="j-side-tab-con">
        <div data-name="menu"></div>
        <div data-name="comment">
            <div class="j-comment-edit">
                <textarea placeholder="添加一条评论..."></textarea>
                <span>发布</span>
            </div>
            <div class="j-comment-list">

            </div>

        </div>
        <div data-name="note">
            <div class="j-note-edit">
                <h4>我的笔记</h4>
                <textarea placeholder="添加一条笔记..."></textarea>
                <span>提交</span>
            </div>
        </div>
    </div>
    <div class="j-tool-bar">
        <span data-name="menu"><i class="j-icon">&#xe241</i><p>目录</p></span>
        <span data-name="comment"><i class="j-icon">&#xe0b9</i><p>评论</p></span>
        <span data-name="note"><i class="j-icon">&#xe254</i><p>笔记</p></span>
    </div>
</div>
<div class="j-course-operation">
    <div>
        <div class="j-course-link"><h4>课程名</h4><i class="j-icon">&#xe315</i><p>活动名</p></div>
        <ul class="j-tab-switch">
            <li data-type="description">课程介绍</li>
            <li data-type="txt">文本资料</li>
            <li data-type="video">视频</li>
            <li data-type="exam">试题</li>
        </ul>
    </div>
</div>
<div class="j-main">
    <div data-type="description"></div>
    <div data-type="txt"></div>
    <div data-type="video"></div>
    <div data-type="exam"></div>

</div>
<!--<div style="width:500px;margin: 0 auto">
    <video ishivideo="true" autoplay="false" isrotate="false" autoHide="true">
    <source src="/test.mp4" type="video/mp4">
</video>
</div>-->

</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/index/header.js"></script>
<script src="/js/index/study-subject.js"></script>
</html>