<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/study-org.css" rel="stylesheet" type="text/css"/>
    <link href="/css/lib/wangEditor.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index/chat.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <div class="j-header-con">
            <div class="j-header-func">
                <div class="j-logo">moopa</div>
                <ul class="j-link">
                    <li class="active">
                        <p>首页</p>
                    </li>
                    <li>
                        <p>首页首页</p>
                    </li>
                    <li>
                        <p>首页首</p>
                    </li>
                </ul>
            </div>
            <ul class="j-inner">
                <li>
                    <p></p>
                    <i class="j-icon">&#xe8ac</i>
                </li>
                <li>
                    <p>moop</p>
                    <i class="j-icon">&#xe5c5</i>
                    <div></div>
                </li>
                <li>
                    <p>moop</p>
                    <i class="j-icon">&#xe5c5</i>
                    <div></div>
                </li>
            </ul>
        </div>
    </header>
    <div class="j-side-bar">
        <div class="j-course-tree"></div>
        <span class="j-icon j-side-switch" data-open="1">&#xe314</span>
    </div>
    <div class="j-course-operation">
        <div>
            <div><h4>课程名</h4><i class="j-icon">&#xe315</i><p>活动名</p></div>
            <ul class="j-tab-switch">
                <li data-type="des">任务介绍</li>
                <li data-type="theory">理论知识点</li>
                <li data-type="results">学习任务</li>
                <li data-type="exam">试题</li>
                <li data-type="cooperation">协作文档</li>
            </ul>
        </div>
        <!--<span class="j-icon">完成当前任务</span>-->
        <span class="j-icon">完成当前任务</span>
    </div>
    <div class="j-main">
        <div data-type="des"></div>
        <div data-type="theory"></div>
        <div data-type="results"></div>
        <div data-type="exam"></div>
        <div data-type="cooperation"></div>
    </div>
    <div class="j-role-choose"></div>
    <div class="j-role-back"></div>
    <div class="j-msg-box"><div class="title"></div><span data-open="0">详情</span><div class="body"></div></div>
    <div class="j-edit-block">
        <div class="j-edit-title">
            <p>资料</p>
            <span class="j-icon">&#xe5cd</span>
        </div>
        <div class="j-edit-pan"></div>
    </div>
</body>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/public.js"></script>
<script src="/js/lib/wangEditor.min.js"></script>
<script src="/js/lib/jquery.qqFace.js"></script>
<script src="/js/index/header.js"></script>
<script src="/js/lib/socket.js"></script>
<script src="/js/index/chat.js"></script>
<script src="/js/index/study-org.js"></script>
</html>