body{background: #eff4f8}
header{background: #eff4f8;width: 100%;min-width: 1080px;height: 60px;position: absolute;z-index: 100;top:0;box-sizing: border-box;padding-right: 10px;}
.j-logo{cursor:pointer;width: 180px;text-align: center;height: 60px;font-size: 40px;line-height: 50px;color: #FFAB1A;float: left}
.j-apps{display: block;float: left;height: 40px;padding:10px 0;}
.j-apps>li{cursor:pointer;display: block;float: left;height: 40px;box-sizing: border-box;margin:0 23px;padding:0 2px;line-height: 40px;font-size: 16px;color: #333}
.j-apps>li:hover{opacity: .6}
.j-apps>li.active{border-bottom: 3px solid dodgerblue;color: dodgerblue;cursor: default;opacity: 1}
.j-user-info{display: block;float: right;height: 40px;padding:10px 0;}
.j-user-info>img{width: 30px;height: 30px;float: left;border-radius: 50%;margin: 5px 0}
.j-user-info>p{display: block;width: auto;float: left;height: 40px;line-height: 40px;color: #444;font-size: 12px;padding:0 10px;}

.j-list{width: 180px;background: #eff4f8;min-height: 500px;height: 100%;z-index:99;position: absolute;padding-top: 70px;box-sizing: border-box}
.j-list>ul{width: 100%;}
.j-list>ul>li{cursor:pointer;width: 100%;float: left;padding:0 10px;height: 40px;box-sizing: border-box;color: #444;}
.j-list>ul>li:hover{background: rgba(0,0,0,.05);}
.j-list>ul>li.active{color: dodgerblue;background: rgba(0,0,0,.05);cursor: default}
.j-list>ul>li>p{display: block;width: 100px;height: 40px;line-height: 40px;font-size: 14px;float: left}
.j-list>ul>li>span{font-size: 14px;text-align: center;line-height: 40px;width: 40px;height: 40px;display: block;float: left}

.j-main{border-top-left-radius: 5px;position: absolute;top:60px;left: 180px;background: #fff;box-sizing: border-box;border: 1px solid #dfdfdf;border-bottom: 0}

.j-file-menu{float:left;height: 16px;display: block;padding:0 10px;width: 100%;list-style: none;box-sizing: border-box}
.j-file-menu>span{display: block;width: auto;height: 16px;font-size: 12px;color: #333;float: right}

.j-file-select-all{box-sizing: border-box;padding: 0;height: 37px;border-bottom: 1px solid #eee;float: left;width: 100%;}
.j-file-select-all>ul{float: left;width: 100%;height: 100%;}
.j-file-select-all>ul>li{float: left;display: block;height: 100%;padding-left: 10px;box-sizing: border-box}
.j-file-select-all>ul>li>input{width: 14px;height: 14px;margin: 11px 10px 11px 3px;float: left;color: dodgerblue;border-color: #bbb;border-radius: 0;display: block}
.j-file-select-all>ul>li>p{display: block;height: 36px;float: left;width: auto;font-size: 12px;color: #666;line-height: 36px;}
.j-title-file-name,.j-list-file-name{width: 50%;}
.j-title-file-dept,.j-list-file-dept{width: 20%}
.j-title-file-time,.j-list-file-time,.j-title-file-size,.j-list-file-size{width: 15%}
.j-title-file-name,.j-title-file-size,.j-title-file-time,.j-title-file-dept{cursor: pointer}
.j-title-file-name:hover,.j-title-file-time:hover,.j-title-file-size:hover,.j-title-file-dept:hover{background: #f1f2f4}

.j-main{border-top-left-radius: 5px;position: absolute;top:60px;left: 180px;background: #fff;box-sizing: border-box;border: 1px solid #dfdfdf;border-bottom: 0}
.j-tool-bar{width: 100%;height: 55px;padding: 11px 10px;box-sizing: border-box}
.j-upload-btn{float:left;cursor:pointer;display:block;width: 84px;height: 32px;border-radius: 4px;background: dodgerblue;color: #fff;position: relative;box-sizing: border-box;padding:0 10px}
.j-upload-btn>span{width: 24px;height: 32px;line-height: 32px;text-align: center;display: block;float: left;cursor: pointer}
.j-upload-btn>p{display: block;width: 32px;font-size: 14px;height: 32px;line-height: 32px;float: left;cursor: pointer}
.j-upload-btn>form{position: absolute;width: 100%;height: 100%;opacity: 0;cursor: pointer;top:0;left: 0}
.j-upload-btn>form>input{position: absolute;width: 100%;height: 100%;opacity: 0;cursor: pointer;top:0;left: 0}
.j-file-btn{float:left;margin-left:0;cursor:pointer;display:block;width: auto;height: 32px;border-radius: 4px;border:1px solid dodgerblue;color: dodgerblue;position: relative;box-sizing: border-box;padding:0 10px}
.j-file-btn>span{width: 24px;height: 32px;line-height: 32px;text-align: center;display: block;float: left;cursor: pointer}
.j-file-btn>p{display: block;width: auto;font-size: 14px;height: 32px;line-height: 32px;float: left;cursor: pointer}
.j-btn-group{display:none;width: auto;height: 32px;border-radius: 4px;box-sizing: border-box;border: 1px solid dodgerblue;margin-left: 10px;float: left}
.j-btn-group>li{border-left:1px solid dodgerblue;padding:0 10px;display: block;width: auto;height: 100%;line-height: 32px;color: dodgerblue;text-align: center;float: left}
.j-btn-group>li:first-child{border: none;}
.j-btn-group>li>span{width: 24px;height: 32px;line-height: 32px;text-align: center;display: block;float: left;cursor: pointer}
.j-btn-group>li>p{display: block;width: auto;font-size: 14px;height: 32px;line-height: 32px;float: left;cursor: pointer}
.j-file-search{display: block;float: right;width: 260px;box-sizing: border-box;padding:0 15px;height:32px;border-radius: 16px;background: #f1f2f4}
.j-file-search>input{outline:none;width: 210px;border: none;background: transparent;color: #999;float: left;text-align: left;line-height: 32px;font-size: 14px;}
.j-file-search>span{float:left;display: block;width: 20px;height: 32px;line-height: 32px;font-size: 20px;text-align: center;color: #999}
.j-file-show-type,.j-file-order{width: 32px;height: 32px;display: block;line-height: 32px;text-align: center;float: right;color: #999;font-size: 24px;cursor: pointer}
.j-file-show-type:hover,.j-file-order:hover{opacity: .85}

.j-file-menu{float:left;height: 16px;display: block;padding:0 10px;width: 100%;list-style: none;box-sizing: border-box}
.j-file-menu>ul{display:block;float: left;width: auto;height: 100%;font-size: 12px;color: #333;}
.j-file-menu li{float: left;width: auto;height: 100%;font-size: 12px;color: #333;}
.j-file-menu li>span{width: auto;display: block;padding:0 3px;margin:2px 0;color: dodgerblue;float: left;height: 12px;cursor: pointer;text-align: left;line-height: 12px;}
.j-file-menu li>p{width: auto;display: block;padding:0 3px;color: #333;float: left;height: 16px;text-align: left}
.j-file-menu li>span:hover{text-decoration: underline}
.j-return-prev{border-right: 1px solid dodgerblue}
.j-file-menu li>i{width: 16px;height: 16px;float: left;display: block;color: #333;line-height: 16px;}
.j-file-menu>span{display: block;width: auto;height: 16px;font-size: 12px;color: #333;float: right}
.j-return-prev{display: none}

.j-one-list{margin-top:-1px;box-sizing:border-box;width: 100%;height: 44px;float: left;font-size: 12px; cursor: pointer;text-align: left;color:#333;border-bottom: 1px solid rgba(150,150,150,.05);border-top: 1px solid rgba(150,150,150,.05)}
.j-one-list.active,.j-one-list:hover{border-bottom: 1px solid rgba(30,144,255,.2);border-top: 1px solid rgba(30,144,255,.2);background: #fff }
.j-one-list>li{float: left;height: 44px;line-height: 44px;box-sizing: border-box;padding-left: 10px;}
.j-one-list>li>input{width: 14px;height: 14px;margin: 15px 10px 15px 3px;float: left;color: dodgerblue;border-color: #bbb;border-radius: 0;display: block}
.j-one-list>li>p{display: block;height: 44px;float: left;width: auto;cursor: pointer;}
.j-one-list>li.j-list-file-name>p:hover{color: dodgerblue;text-decoration: underline}
.j-one-list>li>img{display: block;height: 42px;float: left;width: 34px}
.j-one-list>li>input[type='text']{display:none;margin:12px 0;width: 150px;padding :0 5px;height: 20px;border: none;color: #333;font-size: 12px;line-height: 19px;float: left;background: transparent}
.j-one-list>li>i{display:none;float:left;width: 20px;height: 20px;margin: 12px 0;box-sizing: border-box;border: 1px solid dodgerblue;border-radius: 2px;color:dodgerblue;opacity: .7;cursor: pointer;margin-left: 2px;line-height: 19px;text-align: center}
.j-one-list>li>i:hover{opacity: 1}

.j-one-block{cursor:pointer;box-sizing:border-box;border-radius:4px;display: block;width: 120px;height: 130px;float: left;position: relative;border: 1px solid transparent;margin: 5px 0 0 5px}
.j-one-block:hover{background: #e7eeff}
.j-one-block:hover span{display: block}
.j-one-block.active{border-color: #6fb5ff;background: #e7eeff}
.j-one-block.active>span{display: block;background: dodgerblue}
.j-one-block>p{width: 118px;overflow: hidden;text-overflow: ellipsis;color:#333;font-size: 12px;height: 29px;line-height: 29px;padding: 0 10px;box-sizing: border-box;float: left;text-align: center;display: block}
.j-one-block>img{width: 56px;height: 56px;margin: 29px 31px 14px 31px;display: block;float: left}
.j-one-block>span{display:none;position: absolute;left: 5px;top:5px;width: 20px;height: 20px;border-radius: 10px;background: #b7deff;color: #fff;font-size: 14px;line-height: 20px;text-align: center}
.j-one-block>input[type='text']{display:none;margin:5px 0;width: 66px;padding :0 5px;height: 19px;border: none;color: #333;font-size: 12px;line-height: 19px;float: left;background: transparent}
.j-one-block>i{display:none;float:left;width: 19px;height: 19px;margin: 5px 0;box-sizing: border-box;border: 1px solid dodgerblue;border-radius: 2px;color:dodgerblue;opacity: .7;cursor: pointer;margin-left: 2px;line-height: 19px;text-align: center}
.j-one-block>i:hover{opacity: 1}

.j-logout{margin-right:10px;display: block;height: 100%;width: 30px;text-align: center;line-height: 60px;color: #999;float: right;cursor: pointer}
.j-logout:hover{color: #666}