

.j-contain{width: 1200px;margin:40px auto;}
.j-list{width: 230px;background: #fafafa;float: left;}
.j-list>div{position: relative}
.j-list>div>span{border: 2px solid #fafafa;padding: 6px 12px;box-sizing: border-box;width: 100%;display: inline-block;position: relative}
.j-list>div>span>h2{display: block;width:100%;box-sizing: border-box;padding: 0 0 0 8px;height: 40px;font-size: 18px;color: #333;line-height: 40px;float: left;font-weight: 400}
.j-list>div>span>h2>i{display: block;height: 40px;width: 22px;line-height: 40px;float: right;}
.j-list>div>span>a{cursor:pointer;display: block;width: auto;height: 22px;padding: 0 8px;margin: 0 5px 5px 0;float:left;font-size: 14px;color: #333;line-height: 22px;}
.j-list>div>span>a:hover,.j-list>div>div>div>div>a:hover,.j-list>div>div>div>p:hover{text-decoration: underline;color: #00b38a}
.j-list>div>div{z-index:100;background:#fff;display:none;margin-left:-2px;position: absolute;width: 600px;box-sizing: border-box;padding: 15px 30px 5px 30px;left: 230px;top:0;border: 2px solid #c9cbce}
.j-list>div:hover span{background: #fff;border: 2px solid #c9cbce;border-right: 0;z-index: 101}
.j-list>div:hover div{display: block}
.j-list>div>div>div{width: 100%;float: left;height: auto;display: block}
.j-list>div>div>div>p{position:static;display: block;width: 70px;margin-right: 40px;text-align: right;text-decoration: underline;cursor: pointer;font-size: 14px;height: 19px;line-height: 19px;color: #333;float: left}
.j-list>div>div>div>div{position: static;width: 420px;height: auto;float: left;}
.j-list>div>div>div>div>a{padding:0 10px;height: 19px;margin-bottom: 12px;font-size: 14px;color: #666;float: left;cursor: pointer}

.j-main{float: left;width: 920px;margin-left: 50px;}
.j-search{height: 40px;width: 100%;}
.j-search>input{outline-color:#00b38a;font-size:16px;border: 2px solid #00b38a;padding: 5px 10px;float: left;width: 746px;height: 26px;color: #333;border-radius: 0}
.j-search>span{font-size:18px;width: 150px;height: 40px;text-align: center;line-height: 40px;color: #fff;background: #00b38a;float: left;display: block;cursor: pointer}
.j-search>span:hover{background: #00a984}
.j-search>div{width: 100%;height: 20px;overflow: hidden;padding: 5px 0;float: left}
.j-search>div>p{display: block;float: left;width: auto;height: 20px;line-height: 24px;color: #333;font-size: 14px;}
.j-search>div>span{display: block;margin-right: 20px;width: auto;height: 20px;line-height: 24px;color: #00b38a;cursor: pointer;float: left;font-size: 14px;}
.j-search>div>span:hover{text-decoration: underline}
#j-Carousel{float: left;width: 100%;display: block;height: 160px;margin-top: 15px;margin-bottom: 0}
#j-Carousel>.carousel-indicators{display: block;width: 130px;top:0;right:0;box-sizing: border-box;float:left;padding-left: 10px;height: 160px;}
#j-Carousel>.carousel-indicators>li{width: 100%;height: 50px;margin-bottom: 5px;display: block;float: left;margin-left: 0;box-sizing: border-box;border: 4px solid #bbb;border-radius: 0;cursor: pointer}
#j-Carousel>.carousel-indicators>li.active{border: 4px solid #00b38a}
#j-Carousel>.carousel-indicators>li.active:before{content:'';width: 1px;height:1px;border: 5px solid transparent;border-right: 5px solid #00b38a;display: block;position: absolute;margin-left: -15px;margin-top: 15px;}
#j-Carousel>.carousel-indicators>li>img{width: 100%;height: 100%;float: left}
#j-Carousel>.carousel-inner{width: 790px;display: block;float: left}
#j-Carousel>.carousel-inner img{width:100%;height: 160px;cursor: pointer}
.j-course-tab{display: block;margin-top: 30px;width: 100%;height:40px;float: left;background: #f6f6f6}
.j-course-tab>li{width: auto;height: 26px;background: transparent;border-top: 4px solid transparent;padding: 5px 20px;color: #999;font-size: 18px;float: left;line-height: 30px;cursor: pointer}
.j-course-tab>li.active{border-top: 4px solid #00b38a;background: #fff;color: #333;cursor: default}
.j-course-list{float: left;width: 100%;}
.j-course-list>div{width: 100%;border-bottom: 1px dashed #ddd;height: 120px;float: left}
.j-course-list>div>h4{cursor:pointer;display:block;float:left;font-weight: 400;font-size: 16px;height: 30px;width: 60%;line-height: 15px;color: #00b38a;padding:15px 10px 0 10px;box-sizing: border-box;}
.j-course-list>div>p{cursor:pointer;display:block;float:left;font-weight: 400;font-size: 16px;height: 30px;width: 40%;line-height: 15px;color: #00b38a;padding:15px 10px 0 10px;box-sizing: border-box;}
.j-course-list>div>h4:hover,.j-course-list>div>p:hover{text-decoration: underline}
.j-course-list>div>span{float:left;display: block;width: 100%;height: 60px;font-size: 12px;padding: 10px 10px 0 10px;line-height: 25px;color: #999;box-sizing: border-box}
.j-course-list>div>div{background: #fafafa;width: 100%;height: 30px;float: left;padding: 0 5px;box-sizing: border-box}
.j-course-list>div>div>p{width: auto;height: 14px;padding:2px 3px;border-radius: 2px;border: 1px solid #ddd;color: #999;font-size: 10px;line-height: 14px;margin: 5px;display: block;float: left}
.j-course-list>span{width: 100%;height: 70px;padding-top: 30px;float: left;border-bottom: 1px solid #ddd}
.j-course-list>span>p{display: block;width: auto;padding:5px 10px;height: 16px;line-height: 16px;color: #fff;background: #00b38a;cursor: pointer;font-size: 16px;float: right}
.j-course-list>span>p:hover{background: #00a984}

